.obtn {
  height: 40px;
  margin: 5px;
  padding: 0 22px;
  display: inline-block;
  position: relative;
  background-color: #2e8ece;
  color: #fff;
  font-size: 14px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 1px;
  border: none;
  outline: 0;
  transition: all 0.1s ease-in-out;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  $parent: &;

  &:hover,
  &:focus {
    background-color: lighten(#2e8ece, 10);
  }

  &-light {
    color: #333;
  }

  //Background colors
  @each $name, $color in $bgColors {
    &-#{$name} {
      background-color: $color;

      &:hover:not(#{$parent}-light),
      &:focus:not(#{$parent}-light) {
        background-color: lighten($color, 10);
      }

      &#{$parent}-light:hover,
      &#{$parent}-light:focus {
        background-color: darken($color, 10);
      }
    }
  }

  //Sizes
  @each $size, $styles in $sizes {
    &-#{$size} {
      @each $style, $value in $styles {
        #{$style}: $value;
      }
    }

    //Breakpoints
    @each $breakpoint, $value in $breakpoints {
      @media (min-width: #{$value}) {
        &-#{$breakpoint}-#{$size} {
          @each $style, $value in $styles {
            #{$style}: $value;
          }
        }
      }
    }
  }
}
